.bg_video{
	position: fixed;
	right: 0;
	bottom: 0;
	min-height: 100%;
	min-width: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	background: url('../media/background.jpg') no-repeat;
	background-size: cover;
}

@media only screen and (min-width: 200px) and (max-width: 500px){
	.bg_video{
		display: none;
	}

	.bg_mobile{
		background-color: blue;
	}
}